<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add connectionString="data source=RAFAELFERRE7CEF\SQLEXPRESS;initial catalog=football_club;integrated security=True;" name="ConString"/>
  </connectionStrings>
</configuration>