<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add connectionString="Data Source=&quot;tcp: 193.136.175.33\SQLSERVER2012,8293&quot;;Initial Catalog=p4g5;Persist Security Info=True;User ID=p4g5;Password=fcporto"
         providerName="System.Data.SqlClient"
         name="ConString"/>
  </connectionStrings>
</configuration>